<!doctype html>
<html lang="en-US">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, viewport-fit=cover">
<meta name="apple-mobile-web-app-capable" content="yes">
<title>DesignGrid</title>

<script type="module" src="../design-grid.js"></script>

<style type="text/css">
    body {
    --icon-font: 'Material Symbols Outlined';
    font-family: sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    background-color: hsla(292, 6%, 95%, 1);
  }
</style>

<design-grid id="grid"></design-grid>
<button onclick="addItem()">Add</button>
<button onclick="removeAll()">Clear</button>

<script>
  grid.items = [
    {id: 'id000', content: 'my first widget'}, // will default to location (0,0) and 1x1
    {w: 2, id: 'id111', content: 'another longer widget!'}, // will be placed next at (1,0) and 2x1
    {h: 2, id: 'id222', content: 'another taller widget!'} // will be placed next and 1x2
  ];
  function addItem() {
    const id = grid.items.length;
    grid.items = [...grid.items, {id: `id${id}${id}${id}`, content: `Item #${id}`}];
    // const newItem = grid.addWidget(item ?? {id: `id${id}${id}${id}`, content: `Item #${id}`});
  // newItem.addEventListener('click', function(event, el) {
  //   console.log(`Clicked: ${newItem.getAttribute('gs-id')}`);
  //   grid.getGridItems().forEach(item => item.removeAttribute('selected'));
  //   newItem.setAttribute('selected', true);
  // });
  }
  function removeAll() {
    grid.items = [];
  }
</script>
