<!doctype html>

<link href="../../../third-party/gridstack/gridstack.min.css" rel="stylesheet">

<style>
  body {
    background: lightblue;
  }
  .grid-stack-item-content {
    background-color: white;
    border: 5px solid #eeeeee;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    /* color: #2c3e50;
    background-color: #18bc9c; */
  }
</style>

<div class="grid-stack" id="gridStack"></div>

<script type="module">
  import '../../../third-party/gridstack/gridstack-all.js';
  const {GridStack} = globalThis;
  console.log(Object.keys(GridStack));
  const grid = GridStack.init({
    alwaysShowResizeHandle: true
  }, gridStack);
  //grid.addWidget({x:0, y:0, w: 2, h:2, content: 'item 1'});
  //
  // using serialize data instead of .addWidget()
  const serializedData = [
    {x: 0, y: 0, w: 2, h: 1, content: 'item 1'},
    {x: 2, y: 3, w: 3, h: 1, content: 'item 2'},
    {x: 2, y: 0, w: 3, h: 1, content: 'item 3'},
  ];
  grid.load(serializedData);
</script>
