/* full-bleed, needs viewport-meta help */
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Quicksand, sans-serif;
}
/* root level design decision */
:root {
  --xdesign-border: 2px dashed hsl(292, 95%, 34%);
}
/* main document is rich in atoms */
[atom] {
  overflow: hidden;
  border-style: solid;
  border-width: 0;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
}
#_root_panel {
  flex: 1
}